@import 'desktop';

.mobile-menu {
    cursor: pointer;
    display: none;

    span {
        display: block;
        width:25px;
        height: 4px;
        margin-bottom: 4px;
        background: #000;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

#mobile-menu-switch {
    display:none;
    &:checked {
        ~ .mobile-menu {      
            span {
                background: red;
                transition: transform 0.3s;
    
                &:nth-child(2) {
                    visibility: hidden;
                }
    
                &:first-child {
                    position: relative;
                    top: 10px;
                    transform: rotate(45deg);
                }
    
                &:last-child {
                    position: relative;
                    top: -6px;
                    transform: rotate(-45deg);
                }
            }
        }

        + .header-menu {
            display: flex;
        }
    }
}

.header-content {
    position: relative;
}

@media screen and (max-width: 700px) {
    .mobile-menu {
        display: block;
    }


    #header {

        .header-menu {
            display: none;
    
            position: absolute;
            top: 70px;
            left: 0;
            background: inherit;
            width: 100%;
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
    
            ul {
                flex-direction: column;
                width: 100%;
    
                li {
                    margin-right: 0;
                    margin-top: 30px;

                    &:last-child {
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }

    #join-form {
        .join-content {
            flex-direction: column;
    
            > div {
                width: 100%;
            }

            .join-content-left {
                border-right: unset;
                padding-right: 0;
            }

            .join-content-right {
                padding-left: 0;
            }
        }
    }

    .timeline {
        &::after {
            left: 26px;
        }

        .item {
            justify-content: flex-start;
            min-height: 130px;

            .circle {
                margin-left: 16px;
            }

            .text {
                left: 63px;
            }

            &:nth-child(even) {
                .text {
                    text-align: left;
                }
            }
        }
    }
}